<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img src="./images/robot.png" alt="Robot Image" class="portrait" style="vertical-align:middle">
            <div class="inline" style="width: 400px; margin-left: 20px; vertical-align:middle">
                <p>This site was created by {{name}}. Together with the old robot as shown on the left side.</p>
                <p>The application are using data from mapbox.com and weatherstack.com</p>
            </div>
        </div>
        {{>footer}}
    </body>
</html>
