<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img src="./images/robot.png" alt="Robot Image" class="portrait">
            <p>This site was created by {{name}}. Together with the old robot as shown in the above picture.</p>
            <p>The application are using data from mapbox.com and weatherstack.com</p>
        </div>
        {{>footer}}
    </body>
</html>
