<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <center>
                <p>Use this site to check weather status around the world!</p>
                <div>
                    <form>
                        <input type="text" placeholder="Location"><button>Search</button>
                    </form>
                    <h5 id="message-1"></h5>
                </div>
                <div>
                    <img id="icon" style="margin-right: 16px" class="inline">
                    <p id="message-2" class="inline" style="text-align: left;"></p>
                </div>
            </center>
        </div>
        {{>footer}}
        <script src="/scripts/app.js"></script>
    </body>
</html>
